nav {
  width: 350px;
  position: absolute;
  top: 100px;
  left: 10px;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.search > input,
.search > button {
  margin-top: 30px;
  background-color: white;
  border: none;
  color: rgb(90, 83, 83);
  padding: 8px;
}
